*
!.gitignore
!/coestatistica-1/Coestatistica-1.ipynb
!/coestatistica-1/desafio1.csv
!/data-science-0/main.ipynb
!/data-science-0/black_friday.csv
!/data-science-1/main.ipynb
!/data-science-1/pulsar_stars.csv
!/data-science-2/main.ipynb
!/data-science-2/athletes.csv

